.container {
    display: grid;  
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.2fr 0.4fr;

    grid-template-areas:
        "brand brand nav nav"
        "aside main main main"
        "aside content content content"
        "aside footer footer footer";

    grid-gap: 0.4em;
}

#brand {
    background: #966548;
    grid-area: brand;
    border-radius: 5px;
    padding: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: inset black 0px 0px 20px -12px;
}

nav{
    background: #966548;
    grid-area: nav;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: inset black 0px 0px 20px -12px;
}

main{
    background: #BFA081;
    grid-area: main;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: inset black 0px 0px 20px -12px;
}

aside{
    background: #BF9675;
    grid-area: aside;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset black 0px 0px 20px -12px;
}

#content{
    background: #E7C6A2;
    grid-area: content;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset black 0px 0px 20px -12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    overflow: scroll;
}

footer{
    background: #966548;
    grid-area: footer;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset black 0px 0px 20px -12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* 900 px */

@media only screen and (max-width:900px) {
    .footer{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}

/* 650px */

@media only screen and (max-width:650px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1.0fr 0.7fr 0.9fr 2.0fr 4.2fr 1fr;

        grid-template-areas: 
            "brand"
            "nav" 
            "aside" 
            "main" 
            "content" 
            "footer";
    }

    aside {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #brand {
        padding: 0px;
    }
}