.touch{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 50px;
    color: black;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: left;
}

label{
    margin-top: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: black;
    text-align: left;
    line-height: 30px;
    display: inline-block;
    width: 150px;
}

.form_box1{
    width: 50dvw;
    height: 25px;
    border-radius: 5px;
}

.form_box2{
    width: 50dvw;
    height: 150px;
    border-radius: 5px;
    vertical-align: text-top;
    border-radius: 5px;
}

.form_button{
    height: 100px;
    display: flex;
    justify-content: center;
}

.send{
    margin-top: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: black;
    text-align: left;
    line-height: 30px;
    display: inline-block;
    width: 150px;
    border-radius: 25px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.send:hover{
    background-color: antiquewhite;
}
