.touch{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 50px;
    color: black;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: left;
}

label{
    margin-top: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: black;
    text-align: left;
    line-height: 30px;
    display: inline-block;
    width: 150px;
}

.form_box1{
    width: 50dvw;
    height: 25px;
    border-radius: 5px;
}

.form_box2{
    width: 50dvw;
    height: 150px;
    border-radius: 5px;
    vertical-align: text-top;
    border-radius: 5px;
}
